{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="description row justify-content-center text-center">
    <h3>Django learning web project. Features and new applications may be added over time.</h3>
    <div class="col-6">
        <h5>The following systems are currently implemented:</h5>
        <ul class="list-group">
            <li class="list-group-item">Registration</li>
            <li class="list-group-item">Authorization</li>
            <li class="list-group-item">Add/Delete/Edit Tasks</li>
        </ul>
    </div>
</div>
{% endblock %}
